body {
    background-color: #fff;
    background-image: url("./back.jpg");
    background-size: cover;
    font-family: 'IM Fell Double Pica SC';
}

a:active {
    color: #008;
}

a:visited {
    color: #707;
}

h1, h2, h3, h4, h5, h6 {
    color: #635d45;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    margin-top: 4px;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    margin-top: -6px;
    margin-bottom: 24px;
}

li {
    margin-bottom: 4px;
}

#wrapper {
    padding: 20px;
    letter-spacing: 1px;
    margin: 10px 4px;
}